{% load static %}

<!-- Start footer -->
<div class="app-footer">
    <div class="footer-wrap">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <span>Copyright
                    <i class="icofont-copyright"></i> 2022 Helwan University. All Right Reserved
                </span>
            </div>
        </div>

        <div class="footer-skeleton">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-none d-md-block">
                    <ul class="page-breadcrumbs">
                        <li class="item bg-1 animated-bg"></li>
                        <li class="item bg animated-bg"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-overlay"></div>
<!-- End footer -->
