{% extends 'base.html' %}
{% load static %}


{% block title%} Contact Us {% endblock%}


{% block mainContent %}
    <!-- Start main page -->
    <main class="main-content">
        <div class="app-loader"><i class="icofont-spinner-alt-4 rotate"></i></div>

        <div class="main-content-wrap">
            <div class="page-content">

                <header class="page-header">
                    <h3 class="page-title">Contact Our Team</h3>
                </header>
                <div class="container h-75">
                    <div class="col-12 col-sm-auto">
                        <div class="card">
                            <div class="card-body">

                                <div class="card bg-light bg-gradient">

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="card mb-md-0">
                                                <div class="card-header">
                                                    <h3 class="">Contact Us</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row align-items-center mb-3">
                                                        <div class="col col-auto">
                                                            <div class="icon icofont-ui-touch-phone fs-30 text-muted"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div>Mobile</div>
                                                            0126596578
                                                        </div>
                                                    </div>

                                                    <div class="row align-items-center mb-3">
                                                        <div class="col col-auto">
                                                            <div class="icon icon icofont-at fs-30 text-muted"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div>Email</div>
                                                            Bioeagles.bme@gmail.com
                                                        </div>
                                                    </div>


                                                    <div class="row align-items-center">
                                                        <div class="col col-auto">
                                                            <div class="icon icofont-location-pin fs-30 text-muted"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div>Current Address</div>
                                                            71 Pilgrim Avenue Chevy Chase, MD 20815
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>










                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>
    <!-- End main page -->
{% endblock mainContent %}
