{% extends 'base.html' %}
{% load static %}

{% block title%}  Home {% endblock%}

{% block mainContent %}
    <!-- Start main page -->
    <main class="main-content">
        <div class="app-loader"><i class="icofont-spinner-alt-4 rotate"></i></div>

        <div class="main-content-wrap">
            <div class="page-content">
                <div class="page-box">
                    <div class="landing2">
                        <div class="intro-text ">
                            <h1>Smart Hospital</h1>
                            <br/>
                            <p>Is your healthcare future be there happy & healthy. Keeping your family healthy & comfortable is one of our main priorities as we provide you with continuous supervision and maintain your health data by our doctors
                                using the most improved technologies for a better future.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main page -->
{% endblock mainContent %}