 /* variables*/
 
 :root {
     --main-color: #10cab7;
 }
 /* end*/
 /* golable rules*/
 
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 body {
     font-family: "Work Sans", sans-serif;
     color: black;
 }
 /*body i.fa-solid.fa-house-medical {
       font-size: small;
       display: flex;
       justify-content: flex-start;
       padding-top: 25px;
       color: blue;
   }
   
   body i.fa-solid.fa-bars-staggered {
       font-size: small;
       display: flex;
       justify-content: flex-end;
       color: black;
   }*/
 
 .container {
     width: 800px;
     height: auto;
     margin-top: 0;
     margin-left: auto;
     margin-right: auto;
     padding-top: 0%;
     padding-left: 15px;
     padding-right: 15px;
     /* background-color: #ddd; */
 }
 /*small*/
 
 @media(min-width:320px) {
     .container {
         width: auto;
     }
 }
 
 @media(min-width:500px) {
     .container {
         width: 460px;
     }
 }
 
 @media(min-width:768px) {
     .container {
         width: 750px;
     }
 }
 /*medium*/
 
 @media(min-width:992px) {
     .container {
         width: 970px;
     }
 }
 /*large*/
 
 @media(min-width:1200px) {
     .container {
         width: 1170px;
     }
 }
 /* END*/
 
 .d-none {
     display: none !important;
 }
 
 @media(max-width:500px) {
     .d-xs-none {
         display: none;
     }
 }
 
 @media(max-width:768px) {
     .d-sm-none {
         display: none;
     }
 }
 
 @media(max-width:992px) {
     .d-md-none {
         display: none;
     }
 }
 
 @media(max-width:1200px) {
     .d-lg-none {
         display: none;
     }
 }
 
 .header {
     margin: 0;
     background-color: #ddd;
 }
 
 div.services div.container div.services-content {
     margin-top: 70px;
 }
 
 .srv {
     display: flex;
     margin-bottom: 30px;
     margin-top: 28px;
 }
 
 .srv i {
     color: var(--main-color);
     font-size: 44px;
     /* margin-top: 18px; */
     margin-right: 15px;
     margin-bottom: 0;
     flex-basis: 60px;
 }
 
 .srv .text {
     flex: 1;
 }
 
 .srv .text p {
     margin-top: 0 0 20px;
     font-weight: 800;
     font-size: 20px;
     color: black;
     margin-bottom: 0;
     padding-bottom: 0;
 }
 /* START components*/
 
 h2.special-heading {
     color: #ebeced;
     font-size: 100px;
     text-align: center;
     font-weight: 800;
     letter-spacing: -3px;
     margin: 0;
 }
 
 h2.special-heading+p {
     /* margin: -30px 0 0; */
     font-size: 20px;
     text-align: center;
     color: var(--main-color);
 }
 
 @media(max-width:767px) {
     h2.special-heading {
         font-size: 60px;
         margin-top: -20px;
     }
     h2.special-heading+p {
         margin-top: -20px;
     }
 }
 /* special heading*/
 /* end components*/
 /* start header*/
 
 body div.header div.container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 body div.header div.container img.logo {
     width: 60px;
 }
 
 div.container div.links {
     position: relative;
     margin-top: 19px;
 }
 
 div.container div.links:hover span.icon span:nth-child(2) {
     width: 100%;
 }
 
 div.container div.links span.icon {
     width: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
 }
 
 div.container div.links span.icon span {
     background-color: #333;
     margin-bottom: 3px;
     height: 3px;
 }
 
 div.container div.links span.icon span:first-child {
     width: 100%
 }
 
 div.container div.links span.icon span:nth-child(2) {
     width: 60%;
     transition: 0.3s;
 }
 
 div.container div.links span.icon span:last-child {
     width: 100%
 }
 
 div.container div.links ul {
     list-style: none;
     margin: 0;
     padding: 0;
     background-color: #f6f6f6;
     position: absolute;
     right: 0;
     min-width: 150px;
     top: calc(100% + 15px);
     display: none;
     z-index: 1;
 }
 
 div.container div.links ul::before {
     content: "";
     border-width: 10px;
     border-style: solid;
     border-color: transparent transparent #f6f6f6 transparent;
     position: absolute;
     right: 0;
     top: -20px;
 }
 
 div.container div.links:hover ul {
     display: block;
 }
 
 div.container div.links ul li a {
     display: block;
     padding: 10px;
     text-decoration: none;
     color: #222;
     transition: 0.3s;
 }
 
 div.container div.links ul li a:hover {
     padding-left: 25px;
 }
 
 div.container div.links ul li:not(:last-child) {
     border-bottom: 1px solid #ddd;
 }
 /* END*/
 /* start landing*/
 
 div.landing {
     background-image: url('../img/nasa.jpg');
     background-size: cover;
     width: auto;
     height: calc(100vh - 124px);
     position: relative;
 }
 
 .intro-text {
     position: absolute;
     left: 50%;
     top: 50%;
     text-align: center;
     transform: translate(-50%, -50%);
     min-width: 320px;
     max-width: 100%;
     padding: 15px;
     background-color: #dddddd6b;
     border-radius: 5px;
 }
 
 .intro-text2 {
     position: relative;
     left: 25%;
     top: 25%;
     text-align: center;
     transform: translate(-50%, -50%);
     min-width: 320px;
     max-width: 100%;
     padding: 15px;
 }
 
 div.landing div.intro-text h1 {
     margin: 0%;
     font-weight: bold;
     font-size: 50px;
     color: var(--main-color);
 }
 
 div.landing div.intro-text p {
     font-size: 19px;
     line-height: 1.8;
 }
 
 div.landing2 {
     background-image: url('../img/mockup.jpg');
     background-size: cover;
     width: auto;
     height: calc(100vh - 124px);
     position: relative;
 }
 
 div.landing2 div.intro-text h1 {
     margin: 0%;
     font-weight: bold;
     font-size: 50px;
     color: var(--main-color);
 }
 /* END*/
 /* Start features section*/
 
 div.features {
     padding-top: 60px;
     padding-bottom: 60px;
     background-color: #f6f6f6;
 }
 
 div.features div.container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 20px;
 }
 
 div.features div.container div.feat {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 10px;
     padding-right: 40px;
     text-align: center;
 }
 
 div.features div.container div.feat i {
     font-size: 50px;
     color: var(--main-color);
 }
 
 div.features div.container div.feat h3 {
     font-weight: 800;
     margin: 30px 0;
 }
 
 div.features div.container div.feat p {
     line-height: 1.8;
     color: #777;
     font-size: 17px;
 }
 /* End features section*/
 /* End services section*/
 
 div.services {
     padding-top: 60px;
     padding-bottom: 60px;
 }
 
 div.services div.container div.services-content {
     margin-top: 70px;
 }
 
 div.services div.container div.services-content div.col {
     display: flex;
     margin-bottom: 30px;
 }
 
 @media(max-width:767px) {
     div.services div.container div.services-content div.col {
         flex-direction: column;
         text-align: center;
     }
 }
 
 div.services div.container div.services-content div.col i {
     color: var(--main-color);
     font-size: 50px;
     margin-right: 15px;
     flex-basis: 60px;
 }
 
 div.services div.container div.services-content div.col div.text {
     flex: 1;
 }
 
 div.services div.services-content div.col div.text h3 {
     margin-top: 0 0 20px;
 }
 
 div.services div.services-content div.col div.text p {
     color: #333;
     font-weight: 300;
     line-height: 1.8;
 }
 /* End services section*/
 
 .homepage-link {
     text-decoration: none;
 }
 
 h1 {
     min-width: 270px;
 }
 
 .ParallaxContainer {
     background: url('../img/image3.jpeg');
     background-position-y: 0%;
     background-repeat: repeat;
     background-attachment: scroll;
     background-size: auto;
     min-height: 400px;
     position: relative;
     background-attachment: fixed;
     background-position-y: -12%;
     background-repeat: no-repeat;
     background-size: cover;
 }